app/clientes/__pycache__/controller.cpython-310.pyc
app/clientes/__pycache__/controller.cpython-310.pyc
app/clientes/__pycache__/controller.cpython-310.pyc
app/clientes/__pycache__/controller.cpython-310.pyc
core/__pycache__/security.cpython-310.pyc
core/__pycache__/settings.cpython-310.pyc
app/clientes/__pycache__/controller.cpython-310.pyc
core/__pycache__/settings.cpython-310.pyc
